<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1,user-scalable=no, maximum-scale=1, minimum-scale=1, height=device-height, target-densitydpi=device-dpi">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<meta
  name="format-detection"
  content="telephone=no" />
<meta
  name="msapplication-tap-highlight"
  content="no" />
<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->

<link
  href="css/jquery.mobile-1.4.0-beta.1.min.css"
  rel="stylesheet">

<!-- app specific -->
<link
  href="css/app.css"
  rel="stylesheet">

<title>handball-tracker</title>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="handball-tracker">

  <div
    data-role='page'
    id='home'>
    <div
      data-theme='a'
      data-role='header'>
      <h3>handball-tracker</h3>
    </div>
    <div data-role='content'>
      <a
        href='javascript:handballTracker.addGoal(0);'
        class="ui-btn ui-btn-inline"
        data-transition='slide'>Heim</a>
      <span id="goals_home">0</span>:<span id="goals_guest">0</span>
      <a
        href='javascript:handballTracker.addGoal(1);'
        class="ui-btn ui-btn-inline"
        data-transition='slide'>Gast</a>
      
      <!-- list of game events -->
      <ul data-role="listview" data-inset="true" id="game_events">        
      </ul>
    </div>
    <!-- no footer needed at the moment
            <div data-theme='a' data-role='footer'>
                <h3>Copyright banapple.de 2016</h3>
            </div>
-->
  </div>

  <div
    data-role='page'
    id='home_players'>
    <div
      data-theme='a'
      data-role='header'>
      <a
        href='#home'
        class='ui-btn-left'
        data-transition='slide'
        data-direction='reverse'>Zur&uuml;ck</a>
      <h3>Spieler Heim</h3>
    </div>
    <div data-role='content'>
      <ul data-role="listview">
        <li><a
            href="javascript:handballTracker.onPlayerSelected('heim','luka');">Luka</a></li>
      </ul>
    </div>
  </div>

  <!-- underscore templates -->
  <script type="text/template" id="goalEventTemplate">
    <a href='javascript:handballTracker.selectPlayerForGoal();'
       class="ui-btn ui-mini"
       data-transition='slide'>
	Tor für <%= team %> von 
    <% if (!player) { %>Unbekannt</a><% } else { %><%= player %><% } %>
    </a>
  </script>
  
  <script
    type="text/javascript"
    src="cordova.js"></script>
  <script src="js/jquery-1.10.1.min.js"></script>
  <script src="js/jquery.mobile-1.4.0-beta.1.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/backbone.localStorage-min.js"></script>
  <script src="js/app.js"></script>
  
   
</body>

</html>
